<ng-template #content let-modal>
  <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="card p-4" style="max-width: 600px; width: 100%;" >
      <div class="card-body">
        <h5 class="card-title text-center">Edit Author</h5>
        <hr>
        <form [formGroup] = "editAuthorForm"  (ngSubmit)="onSubmit($event)">

          <div class="mb-3">
            <label for="firstName" class="form-label">first name</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">last name</label>
            <input type="text" id="lastName" value="{{author.lastName}}" class="form-control" formControlName="lastName">
          </div>

          <div class="mb-3">
            <label for="yearOfBirth" class="form-label">year of birth</label>
            <input type="number" id="yearOfBirth" value="{{author.yearOfBirth}}" style="max-width: 8vw;" class="form-control" formControlName="yearOfBirth">
          </div>
  
          <div class="mb-3">
            <label for="city">city</label>
            <select  type="text"  class="form-control" formControlName="city">
              <option *ngFor="let city of allCitys"  [value]="city.id">{{city.name}}</option>
            </select> 
          </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>

        </form>
      </div>
    </div>
  </div>
   
</ng-template>
<button class="btn btn-primary" (click)="open(content)"><i class="fas fa-edit"></i></button>


